<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav-container" mode="side">
    <div class="drawer-nav-content d-flex flex-column p-2 justify-content-center">
      <span class="banner-title">Coffee</span>
      <!-- <div class="menu-item">re</div> -->
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex  flex-column  h-100 drawer-content pt-3">
      <div class="d-flex flex-row justify-content-between align-items-center"

      >
        <div class="d-flex">
          <button
            [class]="[drawer.opened ? 'ml-3' : 'ml-2']"
            mat-mini-fab
            color="primary"
            (click)="drawer.toggle()"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>{{ drawer.opened ? "view_quilt" : "menu" }}</mat-icon>
          </button>
        </div>
        <div class="d-flex flex-row align-items-center">
          <mat-icon
            class="mx-2"
            matBadge="15"
            matBadgeColor="warn"
            style="color: white;"
            >notifications</mat-icon
          >
          <mat-icon class="mx-2" style="color: white;">person</mat-icon>
        </div>
      </div>
      <div class="d-flex flex-row h-100 p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
