@import "~@angular/material/theming";

@include mat-core();
$americano-cold-primary: mat-palette($mat-indigo);
$americano-cold-secondary: mat-palette($mat-indigo);
$americano-cold-thirdary: mat-palette($mat-indigo);
$americano-cold-accent: mat-palette($mat-pink, A200, A100, A400);
$americano-cold-warn: mat-palette($mat-red);
$americano-cold-theme: mat-light-theme(
  (
    color: (
      primary: $americano-cold-primary,
      accent: $americano-cold-accent,
      warn: $americano-cold-warn,
    ),
  )
);

@include angular-material-theme($americano-cold-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
