@import "~@angular/material/theming";

@include mat-core();
$americano-cold-primary: mat-palette($mat-indigo);
$americano-cold-secondary: mat-palette($mat-indigo);
$americano-cold-thirdary: mat-palette($mat-indigo);
$americano-cold-accent: mat-palette($mat-pink, A200, A100, A400);
$americano-cold-warn: mat-palette($mat-red);
$americano-cold-theme: mat-light-theme(
  (
    color: (
      primary: $americano-cold-primary,
      accent: $americano-cold-accent,
      warn: $americano-cold-warn,
    ),
  )
);

@include angular-material-theme($americano-cold-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background:#272a30 ;
}

*:focus {
  outline: 0 !important;
}
.sidenav-container {
  background-color: #191919;
  -webkit-box-shadow: 1px 0px 14px 0px rgba(66,70,77,1);
  -moz-box-shadow: 1px 0px 14px 0px rgba(66,70,77,1);
  box-shadow: 1px 0px 14px 0px rgba(66,70,77,1);
}
mat-drawer-content {
  height: 100vh !important;
  background-color: #272a30;
}

.drawer-nav-content {
  display: flex;
  flex-direction: column;
  width: 15vw;
}
.drawer-content{

}


.menu-item{
background-color: red;
}

.banner-title{
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
